@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1908px;
  padding: 0 15px;
}

body {
  font-family: "Oswald", sans-serif;
}

.brands-page__title {
  position: relative;
  font-size: 24px;
  line-height: 283.333333%; /* 68/24 */
  text-align: center;
  margin: 0 auto;
  left: 0;
  top: 35.5px;
  background-color: #fff;
  max-width: 360px;
}
.brands-page__block {
  display: flex;
  border: 2px solid #C4C4C4;
  gap: 35px;
  padding: 28px 11px;
}
@media (max-width: 1220px) {
  .brands-page__block {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 550px) {
  .brands-page__block {
    gap: 45px;
  }
}
.brands-page__link {
  flex: 0 1 272.5714285714%;
  position: relative;
  z-index: 2;
  min-height: 141px;
  display: flex;
  justify-content: center;
}
.brands-page__link:hover {
  background-color: #E5E5E5;
}
@media (max-width: 1240px) {
  .brands-page__link {
    min-height: 50px;
  }
}
@media (max-width: 1220px) {
  .brands-page__link {
    flex: 0 1 235px;
  }
}

.page__brands {
  margin-bottom: 30px;
}

.choose-page__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
@media (max-width: 1247px) {
  .choose-page__block {
    gap: 5px;
  }
}
@media (max-width: 991.98px) {
  .choose-page__block {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 70px;
  }
}

.item-page {
  position: relative;
}
.item-page__picture {
  position: relative;
  padding-bottom: 46.969697%;
}
.item-page__picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.item-page__block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 82px 0px 0px 491px;
}
@media (max-width: 1850px) {
  .item-page__block {
    padding: 25px 25px 35px 270px;
  }
}
@media (max-width: 1247px) {
  .item-page__block {
    padding: 25px 25px 35px 70px;
  }
}
.item-page__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 129.166667%; /* 62/48 */
  max-width: 221px;
  margin-bottom: 7px;
}
@media (max-width: 1247px) {
  .item-page__title {
    font-size: 34px;
    margin-bottom: 0;
  }
}
@media (max-width: 550px) {
  .item-page__title {
    font-size: 24px;
  }
}
.item-page__about {
  font-size: 22px;
  line-height: 168.181818%; /* 37/22 */
  margin-bottom: 50px;
}
@media (max-width: 1850px) {
  .item-page__about {
    margin-bottom: 20px;
  }
}
.item-page__button {
  border: 2px solid black;
  padding: 15px 45px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144.444444%; /* 26/18 */
}
@media (max-width: 1247px) {
  .item-page__button {
    padding: 10px 25px;
  }
}
.item-page__button:hover {
  background-color: black;
  color: white;
}
.item-page__picture--big {
  padding-bottom: 97.0810810811%;
}

.item-page--big {
  grid-row: span 2;
}

.item-page__block--size {
  padding: 430px 482px 103px 86px;
}
@media (max-width: 1850px) {
  .item-page__block--size {
    padding: 120px 100px 103px 86px;
  }
}

.item-page__title--big {
  font-size: 96px;
  line-height: 114.583333%; /* 110/96 */
  font-weight: 600;
  max-width: 357px;
}
@media (max-width: 1247px) {
  .item-page__title--big {
    font-size: 56px;
  }
}
@media (max-width: 550px) {
  .item-page__title--big {
    font-size: 36px;
  }
}

.item-page__block--reverse {
  padding: 115px 507px 115px 94px;
}
@media (max-width: 1850px) {
  .item-page__block--reverse {
    padding: 25px 25px 35px 50px;
  }
}

.wear-page__item {
  position: relative;
}
.wear-page__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.wear-page__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.wear-page__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid gray;
}
.wear-page__input:checked + .wear-page__label::before {
  background: url("../img/check.svg") 50% no-repeat;
  background-color: black;
  border: 2px solid black;
}
.wear-page__title {
  font-size: 24px;
  line-height: 283.333333%; /* 68/24 */
}
.wear-page__form {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  row-gap: 20px;
  color: rgb(63, 63, 63);
}
@media (max-width: 991.98px) {
  .wear-page__form {
    row-gap: 40px;
    font-size: 24px;
  }
}
.wear-page__container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 991.98px) {
  .wear-page__container {
    flex-direction: column;
  }
}
.wear-page__check {
  flex: 0 1 21.750524109%;
  border-right: 1px solid rgb(196, 196, 196);
}
@media (max-width: 991.98px) {
  .wear-page__check {
    border-right: none;
    margin-bottom: 40px;
  }
}
.wear-page__dress {
  flex: 0 1 78.8784067086%;
}

.page__wear {
  margin-bottom: 24px;
}

.dress-page__cover {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 48px;
  -moz-column-gap: 26px;
       column-gap: 26px;
  margin-bottom: 45px;
}
@media (max-width: 1270px) {
  .dress-page__cover {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991.98px) {
  .dress-page__cover {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 547px) {
  .dress-page__cover {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
  }
}
.dress-page__cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.dress-page__discont {
  position: absolute;
  top: 15px;
  left: 0;
  max-width: 40px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: #000;
  text-align: center;
  color: #FFFFFF;
}
.dress-page__picture {
  display: inline-block;
  position: relative;
  padding-bottom: 130.813953%;
}
.dress-page__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-page__top {
  font-size: 12px;
  line-height: 150%; /* 18/12 */
  color: rgb(189, 189, 189);
}
.block-page__about {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%; /* 27/18 */
  color: rgb(0, 0, 0);
}
.block-page__about:not(:last-child) {
  margin-bottom: 15px;
}
.block-page__price {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%; /* 33/22 */
  color: black;
}
.block-page__price--color {
  color: rgb(235, 87, 87);
  display: inline-block;
}
.block-page__old-price {
  color: gray;
  text-decoration: line-through;
}

.dress-page__button {
  display: flex;
  justify-content: center;
}
.dress-page__button a {
  color: rgb(130, 130, 130);
  font-weight: 500;
  line-height: 142.857143%; /* 20/14 */
  border: 1px solid rgb(196, 196, 196);
  padding: 10px 25px;
  font-size: 14px;
}
.dress-page__button a:hover {
  background-color: #E5E5E5;
}

.page__shoping {
  margin-bottom: 41px;
}

.shoping-page__content {
  background: url("../img/dress-block.jpg") 100%/cover no-repeat;
  padding-top: 77px;
  padding-bottom: 77px;
  padding-left: 269px;
}

.content-page__image {
  position: relative;
  padding-bottom: 34.2452830189%;
}
.content-page__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-page__common {
  max-width: 639px;
}
.content-page__common :not(:last-child) {
  margin-bottom: 15px;
}
.content-page__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 128.571429%; /* 72/56 */
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding-top: 20px;
}
@media (max-width: 991.98px) {
  .content-page__title {
    border: none;
    font-size: 36px;
  }
}
.content-page__about {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.48; /* 37/25 */
  font-size: 25px;
}
.content-page__shop a {
  display: inline-block;
  padding: 12px 40px;
  border: 2px solid black;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.content-page__shop :hover {
  background-color: white;
}

.page__common-dresses {
  margin-bottom: 100px;
}

.common-dresses__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.common-dresses__about {
  font-size: 24px;
  line-height: 283.333333%; /* 68/24 */
}
.common-dresses__shop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
@media (max-width: 1270px) {
  .common-dresses__shop {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 991.98px) {
  .common-dresses__shop {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 547px) {
  .common-dresses__shop {
    grid-template-columns: repeat(1, 1fr);
  }
}
.common-dresses__container > :not(:last-child) {
  margin-bottom: 50px;
}

.arrows__left {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(196, 196, 196);
  position: relative;
}
.arrows__left::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  background: url("../img/arrow.svg") 0 0/cover no-repeat;
  width: 10px;
  height: 16px;
}
.arrows__right {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(196, 196, 196);
  position: relative;
}
.arrows__right::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  background: url("../img/arrow.svg") 0 0/cover no-repeat;
  transform: rotate(-180deg);
  width: 10px;
  height: 16px;
}

.explore-page__block {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 90px;
}
@media (max-width: 991.98px) {
  .explore-page__block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.page__explore {
  margin-bottom: 80px;
}

.page__blog {
  background-color: rgb(248, 249, 251);
}

.blog-page__container {
  padding: 46px 15px;
}
.blog-page__title {
  font-size: 24px;
  line-height: 283.333333%; /* 68/24 */
}
.blog-page__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1275px) {
  .blog-page__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
@media (max-width: 991.98px) {
  .blog-page__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768.98px) {
  .blog-page__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cards-page__main {
  background-color: white;
  padding: 25px 25px 0px 25px;
}
.cards-page__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 144.444444%; /* 26/18 */
  color: rgb(189, 189, 189);
  margin-bottom: 21px;
}
.cards-page__about {
  font-size: 26px;
  line-height: 146.153846%; /* 38/26 */
  margin-bottom: 30px;
}
.cards-page__text {
  line-height: 150%; /* 24/16 */
  font-family: "Roboto";
  margin-bottom: 100px;
}
.cards-page__date {
  font-size: 13px;
  line-height: 284.615385%; /* 37/13 */
  color: rgb(79, 79, 79);
  border-top: 3px solid black;
}