@import url("reset.css");


@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

.main{
   padding-top: 30px;

}

body{
   font-family: 'Poppins';
   font-weight: 300;
   color: #6C757D;
   font-size: 14px;
}

[class*="__container"]{
   margin: 0 auto;
   max-width: 1270px;
   padding: 0 15px;
}

[class*="__text-block"]{
   margin: 0 auto 80px;
   max-width: 846px;
   
}

.text__text-block p{

  
   line-height: 178.571429%; /* 25/14 */
   margin-bottom: 30px;
}

.article{
   font-weight: 700;
   font-size: 25px;
   line-height: 160%; /* 40/25 */
   color: #212529;
   margin-bottom: 40px;
   max-width: 605px;
}


.image-desert{
   max-width: 100%;
   margin-bottom: 80px;
}


.images-double{

   font-size: 0;
   margin-bottom: 80px;
  
}

.images-double img{
   border-radius: 5px;
}

.first-img{
   margin-right: 30px;
  max-width: 100%;
}

.second-img{
   max-width: 100%;
}

.image-out{

   width: 100%;
   margin-bottom: 100px;
}


.second-block{
   margin-bottom: 100px;
}

.article-second{
   margin-bottom: 100px;
}

.double-img2{
   margin-bottom: 100px;
}







.background{
   background-color:red;
   padding: 20px;
}

.background-1{
   background-color: green;
   border: 10px solid yellowgreen;
}

.train{
   border-radius: 20px;
   border-left: 20px solid;
   
}

.bg-2{
   margin: 30px;
   outline: 10px solid red;
   font-size: 35px;
   border-radius: 70px;
   box-shadow: 10px 10px 5px 20px red;
   overflow: hidden;
}