
@use "sass:math";

@import "_reset.scss";
@import "_mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: rem(1270);
   padding: 0 rem(15);

}

body{

	font-family: "Poppins", sans-serif;
	font-weight: 300;

}



.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: rgba(0, 0, 0, 0.4);
	

	&__container{
		padding-top: rem(15);
		padding-bottom: rem(15);
		min-height: rem(100);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(25);
		
	}

	&__logo{

		font-weight: 700;
		font-size: rem(18);
		line-height: 138.888889%; /* 25/18 */
		color: rgba(248, 249, 250, 1);
		position: relative;
		z-index: 2;

		&::after{
			content: ".";
			color: #ddbea9;
			padding-left: 2px;
		}
	}

}


.menu-icon{

	display: none;
}





.menu-header{

display: flex;
gap: rem(44);
align-items: center;


&__item--parent{

	position: relative;

	&:hover .sub-menu{
		top: 100%;
		visibility: visible;
		opacity: 1;
		transition: all 0.3s;
	}

}




&__button{

	border-left: 1px solid rgba(145, 153, 161, 1);
	padding-left: rem(35);
	display: inline-flex;
	
	
	&:hover img{

		transform: scale(1.5);
		transition: all 0.3s;
	}

}

&__list{

	display: flex;
	flex-wrap: wrap;
	column-gap: rem(35);
	row-gap: rem(5);
}







&__item:hover &__link, .active{

	transition: all 0.3s;
	color: white;
}

&__item:hover &__link::after, .active::after{

width: 100%;
left: 0;

}

&__link{

	color: rgba(145, 153, 161, 1);
	font-size: rem(12);
	font-weight: 500;
	line-height: 208.333333%; /* 25/12 */
	position: relative;
	display: inline-block;
	





	&::after{

		content: "";
		position: absolute;
		bottom: 0px;
		left: 50%;
		height: 2px;
		width: 0;
		transition: width 0.3s, left 0.3s;
		border-radius: 2px;
		background-color: rgba(221, 190, 169, 1);

	}



}


&__item--parent{

	position: relative;
	padding-right: rem(15);





&:hover {

	&::before{
		transform: rotate(-90deg);
	}

}


}


}








@media (max-width: em(660)){


	.header__container{
		min-height: rem(50);
	}




	.menu-icon {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
	}

   .menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color: gray;
		transition: all 0.3s;
	}
   .menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		margin-top: -0.5px;
	}

   .menu-header__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color:#212529;
		padding: 70px 15px 20px 15px;
		transition: left 0.3s;
      
	}

	.menu-header__body::before {
		content: "";
		height: rem(50);
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #15171a;
		z-index: 1;
		transition: left 0.3s;
	}

	.menu-open .menu-header__body,
	.menu-open .menu-header__body::before {
		left: 0;
	}



   .menu-header__list{

      flex-direction: column;
      row-gap: 20px;



   }



   .menu-header__link{

      font-size: 20px;
      color: #fff;
   }


   .sub-menu__list {

      background:#1b2e41;
      padding: 10px 0 0 0;
      min-width: 0;
   }

   .sub-menu__link{

      font-size: 16px;
   }


}




.sub-menu {

	
	&__list{

		padding: rem(15);
		background: #212529;
		min-width: rem(120);
		font-size: rem(12);
		border-radius: rem(3);
		
		}

		&__item{

			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
		
		&__link{
		
			color: rgba(248, 249, 250, 0.6);
			line-height: 2.08;
			font-weight: 500;
			transition: all 0.3s;
		
			&:hover{
		
				color: #fff;
				transition: all 0.3s;
			}
		}


}



@media (min-width: em(660)){

.sub-menu{

	position: absolute;
	top: 120%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	padding-top: rem(10);
	transition: all 0.3s;

}



.menu-header{

	&__item--parent{


	&::before{
		content: "";
		position: absolute;
		width: rem(8);
		height: rem(5);
		top: rem(10);
		right: 0;
		transition: all 0.3s;
		background: url(../img/arrow.svg) 0 0 /100% no-repeat;
	}

	}
}



}






//=================================================================================

.things-block{
	position: relative;
	min-height: 100vh;
	padding-top: rem(330);
	padding-bottom: rem(100);
	background: black;
	display: flex;
	align-items: flex-end;


	&__image{

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img{
			position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		}

	}

	&__container{

		position: relative;
		z-index: 2;
		flex: 1 1 auto;
	}

	&__content{

		display: flex;
		flex-direction: column;
		gap: rem(15);
		max-width: rem(605);

	}


	&__time{

		font-size: rem(12);
		line-height: 166.666667%; /* 20/12 */
		color: rgba(229, 229, 229, 1);
	}

	&__title{

		font-weight: 700;
		font-size: rem(25);
		color: rgba(248, 249, 250, 1);
		line-height: 160%; /* 40/25 */

	
	}


	&__about{
		font-size: rem(12);
		line-height: 166.666667%; /* 20/12 */
		color: rgba(229, 229, 229, 1);
		max-width: rem(360);
	}

}

//===============================================================================


.cards-block{

padding-top: rem(100);
padding-bottom: rem(100);

@media (max-width: em(768.98)){
	padding-top: rem(50);
padding-bottom: rem(50);

}

&__header{

	margin-bottom: rem(44);

	@media (max-width: em(768.98)){
	
		margin-bottom: rem(22);
	}
}

&__main:not(:last-child){

margin-bottom: rem(60);
}


&__more{

	text-align: center;

}

&__button{

	font-weight: 500;
	color: rgba(248, 249, 250, 1);
	font-size: rem(12);
	line-height: 208.333333%; /* 25/12 */
	padding: rem(7) rem(50);
	background-color: rgba(33, 37, 41, 1);
	border-radius: 3px;
	transition: all 0.3s;
	border: 1px solid black;

	&:hover{

		background-color: #fff;
		color: black;
		transition: all 0.3s;
	}
}

}


.header-cards{


display: flex;
justify-content: space-between;
gap: rem(10);

&__categories{

	font-weight: 500;
	font-size: rem(12);
	color: rgba(73, 80, 87, 1);
	line-height: 208.333333%; /* 25/12 */
	transition: color 0.3s;
&:hover{

	color: rgba(221, 190, 169, 1);
	transition: color 0.3s;
}

}


&__list{

	display: flex;
	gap: rem(20);

.active{

	color: rgba(73, 80, 87, 1);
}

@media (max-width: em(768.98)){
	display: none;

}

}




&__option{

font-weight: 500;
font-size: rem(12);
line-height: 208.333333%; /* 25/12 */
color: rgba(73, 80, 87, 0.5);
transition: color 0.3s;
&:hover{

	color: rgba(73, 80, 87, 1);
	transition: color 0.3s;
}

}

}





.main-cards{

&__article{


display: grid;

grid-template-columns: repeat(3, 1fr);
gap: rem(30);

@media (max-width: em(768.98)){
	grid-template-columns: repeat(2, 1fr);

}


@media (max-width: em(580)){
	grid-template-columns: repeat(1, 1fr);

}



}

&__body{

	display: flex;
	flex-direction: column;
}


&__image{

	position: relative;
	padding-bottom: 63.613232%;
	overflow: hidden;
	border-radius: rem(3);

	&:not(:last-child){
		margin-bottom: rem(30);
	}
}



&__foto{

	
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 3px;
		transition: all 0.8s;

		&:hover{

			transform: scale(1.1);
			transition: all 0.8s;

		}

	}
}


&__creative-link{

	position: absolute;
	top: rem(33);
	right: rem(33);
	font-weight: 700;
	line-height: 250%; /* 20/8 */
	color: rgba(248, 249, 250, 1);
	font-size: rem(8);
	background-color: rgba(33, 37, 41, 0.3);
	padding: rem(3) rem(13);
	border-radius: 3px;

	&:hover{
		background-color: rgba(33, 37, 41, 0.8);
	}
}


&__content{

	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	gap: 15px;
	
	&:not(:last-child){
		margin-bottom: rem(15);
	}

	font-weight: 300;
	font-size: rem(12);
	line-height: 166.666667%; /* 20/12 */
	color: rgba(73, 80, 87, 1);

}



&__title{

font-weight: 700;
font-size: rem(25);
line-height: 160%; /* 40/25 */
color: rgba(33, 37, 41, 1);

@media (max-width: em(1171)){
	font-size: rem(18);
}

}

&__link{

	
	font-size: rem(12);
	line-height: 166.666667%; /* 20/12 */
	color: rgba(73, 80, 87, 1);
	border-top: 1px solid #e5e5e5;
	padding-top: rem(15);


	&:hover a{
		border-bottom: 1px solid gray;
	}
}

}



//==============================================================


.page{


&__featured{

display: flex;

@media (max-width: em(972)){
	flex-direction: column;
}

}


}



.featured{


&__topics{

	background: #212529;
	flex: 0 0 100%;
}




}


.trip-featured{

	display: flex;
	position: relative;
	flex: 0 0 50%;
	transform: translate(-100%, 0);
	align-items: center;
	justify-content: center;
	min-height: rem(600);

	@media (max-width: em(972)){
		transform: none;
	}



img{

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

&__body{

position: relative;
text-align: center;
max-width: rem(390);
padding: rem(15);
}

&__title{

	font-weight: 700;
	font-size: rem(25);
	line-height: 160%; /* 40/25 */
	color: rgba(248, 249, 250, 1);

	&:not(:last-child){

		margin-bottom: rem(15);
	}
}

&__about{

	
	font-size: rem(12);
	line-height: 166.666667%; /* 20/12 */
	color: rgba(229, 229, 229, 1);
}


}












.topics-featured{


&__main{

padding-top: rem(100);
padding-bottom: rem(100);
padding-right: rem(138);
width: 50%;

@media (max-width: em(972)){
	width: 100%;
	padding: rem(50) 0;
}


}

&__title{

font-weight: 500;
font-size: rem(25);
line-height: 80%; /* 20/25 */
color: rgba(248, 249, 250, 1);
margin-bottom: rem(60);
}

&__body{

	display: flex;
	flex-direction: column;
	gap: rem(40);


}

&__item{

	display: flex;
	gap: rem(30);


	@media (max-width: em(480)){
		flex-direction: column;
	}



	}

&__foto{

	flex: 0 0 36.345382%;
	position: relative;
	padding-bottom: 36.345382%;
	border-radius: rem(3);

	@media (max-width: em(972)){
		padding-bottom: 25%;
	}
	@media (max-width: em(480)){
		padding-bottom: 70%;
	}
}



}

.foto-topics {


&:hover img{

	transform: scale(1.1);
	transition: all 0.8s;
}


img{
	transition: all 0.8s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

}





.content-featured{

	
	font-size: rem(12);
	line-height: 166.666667%; /* 20/12 */
	color: rgba(229, 229, 229, 1);

&__title{

	font-weight: 500;
	color: rgba(248, 249, 250, 1);
	line-height: 156.25%; /* 25/16 */
	font-size: rem(16);
}

& > *:not(:last-child){
	margin-bottom: rem(15);
}


}



//=================================================================


.page__big-world{

padding: rem(100) 0;

@media (max-width: em(768)){
	padding: rem(50) 0;
}

}


.big-world{

&__title{

	font-weight: 500;
	font-size: rem(25);
	line-height: 80%; /* 20/25 */
	color: rgba(73, 80, 87, 1);
	margin-bottom: rem(60);

	@media (max-width: em(468)){
		margin-bottom: rem(30);
		
	}
}

&__cards{

display: grid;
grid-template-columns: repeat(4, 1fr);
gap: rem(30);

@media (max-width: em(1040)){
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: em(768)){
	grid-template-columns: repeat(2, 1fr);
	column-gap: rem(15);
}


@media (max-width: em(468)){
	grid-template-columns: repeat(1, 1fr);
	
}

}


}




.cards{

&__main{

&>*:not(:last-child){

	margin-bottom: rem(30);
}



}

&__image{

	position: relative;
	overflow: hidden;
	border-radius: rem(3);
	padding-bottom: 69.68641114982578%;
	
	}
	


&__foto{

	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.8s;
	

	 &:hover{

		transform: scale(1.1);
		transition: all 0.8s;

	}
}

	
	
&__creative{
	
	position: absolute;
    top: rem(25);
    right: rem(25);
    font-weight: 700;
    line-height: 250%;
    color: rgb(248, 249, 250);
    font-size: rem(8);
    background-color: rgba(33, 37, 41, 0.5);
    padding: rem(3) rem(13);
    border-radius: 3px;
	 transition: all 0.3s;
&:hover{
	background-color: rgba(33, 37, 41, 0.9);
	transition: all 0.3s;
}

	}


&__body{

	&>*:not(:last-child){

		margin-bottom: rem(15);
	}
	
	
	font-size: rem(12);
	line-height: 166.666667%; /* 20/12 */
	color: rgba(73, 80, 87, 1);




}

&__title{

font-weight: 500;
font-size: rem(16);
color: rgba(33, 37, 41, 1);
line-height: 156.25%; /* 25/16 */

}



}


//========================================================================


.footer{

background-color: rgba(33, 37, 41, 1);
color: rgba(248, 249, 250, 0.5);
padding: rem(40) 0;
font-weight: 500;
font-size: rem(12);
line-height: 208.333333%; /* 25/12 */

@media (max-width: em(478)){
	padding: rem(20) 0;
}

&__logo{

	font-weight: 700;
	color: rgba(248, 249, 250, 1);
	font-size: rem(18);
	line-height: 138.888889%; /* 25/18 */

	&::after{

		content: ".";
		color: rgba(221, 190, 169, 1);
		padding-left: 2px;
	}


}




&__top{

	display: flex;
	justify-content: space-between;
	gap: rem(25);
	padding-bottom: rem(40);
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);

	&:not(:last-child){
		margin-bottom: rem(40);
	}

	@media (max-width: em(478)){
		
		flex-direction: column;
		align-items: center;
		gap: rem(15);
		padding-bottom: rem(20);
		&:not(:last-child){
			margin-bottom: rem(20);
		}
	}

}


&__bottom{

	display: flex;
	justify-content: space-between;
	gap: rem(25);
	@media (max-width: em(478)){
		
		flex-direction: column;
		align-items: center;
		gap: rem(15);
		
	}
}


}


.menu-footer{

&__list{

display: flex;
gap: rem(25);
}

&__link{

	transition: color 0.8s;
	&:hover{

		color: #fff;
		transition: color 0.5s;
	}
}



}